
:root {
    --main-active-gold: #ffa600f9;
  }

.filter-box{
    grid-area: content16;
    justify-self: center;
    align-self: center;
    color: rgba(207, 207, 207, 0.749);
    border: rgba(128, 128, 128, 0.411) solid 1px;
    border-radius: 5px;
    width: 135px;
    height: 25px;
    background-color: rgb(30, 29, 29);
    display: flex;
    align-items: center;
    padding: 0px 0px 3px 15px;
    justify-content:space-between;
    cursor: pointer;
   
}
.filter-box:hover{
    grid-area: content16;
    justify-self: center;
    align-self: center;
    color: var(--main-active-gold);
    border: rgba(128, 128, 128, 0.411) solid 1px;
    border-radius: 5px;
    width: 135px;
    height: 25px;
    background-color: rgb(30, 29, 29);
    display: flex;
    align-items: center;
    padding: 0px 0px 3px 15px;
    justify-content:space-between;
}

.drop-icon{
    size: 50px;
    margin-top: 3px;
    height: 23px;
 padding: 4px 8px 0px 5px;

    
}

.open-filter{
    grid-area: content17;
    justify-self: center;
    margin-top: -10px;

}
.open-rarity{
    display: flex;
    justify-self: center;
    align-self: center;
    align-items:center;
    color: white;
    width: 135px;
    height: 25px;
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(30, 29, 29);
    border: rgba(128, 128, 128, 0.411) solid 1px;
    padding: 3px 0px 5px 15px;
    gap:5px;
    justify-content:space-between;
    
}
.open-tear{
    display: flex;
    justify-self: center;
    align-self: center;
    align-items:center;
    color: white;
    width: 135px;
    height: 25px;
    background-color: rgb(30, 29, 29);
    border: rgba(128, 128, 128, 0.411) solid 1px;
    padding: 0px 0px 3px 15px;
    gap:5px;
    border-radius: 0px 0px 5px 5px;
    
    justify-content:space-between;
}
.open-rarity-options{
    display: flex;
    justify-self: center;
    align-self: center;
    align-items:center;
    color: white;
    width: 135px;
    height: 25px;
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(30, 29, 29);
    border: rgba(128, 128, 128, 0.411) solid 1px;
    padding: 3px 0px 5px 15px;
    gap:5px;
    
    
}
