@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300;1,400;1,500&display=swap');
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --main-active-gold: #ffa500;
  }
.main-box{
    
    display:grid;
    grid-template-columns: 0.5fr 600px 0.5fr ;
    grid-template-rows: 50px 480px  1fr;
    grid-template-areas:
      ". content10 content16 "
      ". content9 content17 "
      ". footer . ";
      margin: auto;
      border-radius: 5px;
    
        width: 1000px;
        height: 600px;
        background-color: rgba(12, 7, 7, 0.367);
      
        border-width: 1px;
        border-style: solid;
        border-image: 
          linear-gradient(
            to left, 
            rgba(19, 168, 66, 0),
            rgba(255, 166, 0, 0.411),
            #ffa500, 
            rgba(255, 166, 0, 0.367),
            rgba(19, 168, 66, 0)
          ) 1 0 1 0 ;

}


.item-box{
    
    color: rgb(190, 186, 186);
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom: rgba(255, 255, 255, 0.363) solid 1px;
    background-color: rgba(5, 1, 1, 0.468);
    width: 600px;
    height: 47px;
    
    font-family: 'IM Fell DW Pica', serif;
    font-size: 16px;
    padding-right: 5px;
    display:grid;
    grid-template-columns: 70px 300px 130px  75px;
    grid-template-areas: 
    " content1 content2 content3  content4" ;
}
.item-box:hover{
    
    color: #ffa500;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom: rgba(255, 255, 255, 0.363) solid 1px;
    background-color: rgba(5, 1, 1, 0.468);
    width: 600px;
    height: 47px;
    
    font-family: 'IM Fell DW Pica', serif;
    font-size: 16px;
    padding-right: 5px;
    display:grid;
    grid-template-columns: 70px 300px 130px  75px;
    grid-template-areas: 
    " content1 content2 content3  content4" ;
}

.item-box-white{
    
    color: rgb(190, 186, 186);
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom: rgba(255, 255, 255, 0.271) solid 1px;
    background-color: rgba(80, 76, 76, 0.645);
    width: 600px;
    height: 47px;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 16px;
    padding-right: 5px;
    display:grid;
    grid-template-columns: 70px 300px 130px  75px;
    grid-template-areas: 
    " content1 content2 content3  content4" ;

}
.item-box-white:hover{
    
    color: #ffa500;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom: rgba(255, 255, 255, 0.271) solid 1px;
    background-color: rgba(80, 76, 76, 0.645);
    width: 600px;
    height: 47px;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 16px;
    padding-right: 5px;
    display:grid;
    grid-template-columns: 70px 300px 130px  75px;
    grid-template-areas: 
    " content1 content2 content3  content4" ;

}
.item-image-rarity-0{
    background-color: rgba(240, 248, 255, 0.224);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin:3px;
    margin-left: 12px;
border: white solid 1px;
grid-area: content1;
}

.item-image-rarity-1{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin:3px;
    margin-left: 12px;
    background-color:rgba(12, 233, 0, 0.281) ;
    border: rgb(0, 233, 8) solid 1px;
    grid-area: content1;
    }

.item-image-rarity-2{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin:3px;
    margin-left: 12px;
    background-color:rgba(0, 202, 233, 0.281) ;
    border: rgb(0,203,233) solid 1px;
    grid-area: content1;
    }

    .item-image-rarity-4{
        width: 40px;
        height: 40px;
        border-radius: 5px;
        margin:3px;
        margin-left: 12px;
        background-color:rgba(212, 109, 7, 0.504) ;
        border: rgb(212, 109, 7) solid 1px;
        grid-area: content1;
        }
        .map-item-box{
          
           
            grid-area: content9;
        }


    .top-sort-part{
        grid-area: content10;
        justify-self: center;
        width: 600px;
        height: 50px;
        display:grid;
        grid-template-columns: 75px 50px 308px 55px 25px 1fr;
        grid-template-areas: 
        " content1 content2 . content3 content4 content5" ;
        margin-bottom: 4px;
        border: #ffa500 solid 1px;
        border-width: 1px;
        border-style: solid;
        border-image: 
          linear-gradient(
            to left, 
            rgba(255, 255, 255, 0),
            rgba(227, 226, 226, 0.411),
            #fffffe72, 
            rgba(244, 244, 243, 0.367),
            rgba(19, 168, 66, 0)
          ) 0 0 1 0 ;
    }

    .item-title-name{
        color: rgba(207, 207, 207, 0.624);
        align-self: center;
        grid-area: content2;
        cursor: pointer;
    }
    .item-title-name:hover{
        color: rgb(207, 207, 207);
        cursor: pointer;
    }

    .item-title-rarity{
        color: rgba(207, 207, 207, 0.624);
        align-self: center;
        grid-area: content3;
    }
    .item-title-rarity:hover{
        color: rgb(207, 207, 207);
        cursor: pointer;
    }

    .item-title-tear{
        color: rgba(207, 207, 207, 0.624);
        align-self: center;
        grid-area: content5;
    }
    .item-title-tear:hover{
        color: rgb(207, 207, 207);
        cursor: pointer;
    }
    .item-name{
        grid-area: content2;
        
    }

    .item-rarity{
        grid-area: content3;
        justify-self: center;
    }
 
    .item-rarity-uncommon{
        grid-area: content3;
        justify-self: center;
        color: rgb(0, 233, 8);
    }
    .item-rarity-rare{
        grid-area: content3;
        justify-self: center;
        color:#00cbe9
    }
    .item-rarity-epic{
        grid-area: content3;
        justify-self: center;
        color: rgb(223, 39, 201);
    }
    .item-rarity-legendary{
        grid-area: content3;
        justify-self: center;
        color: rgb(245, 166, 87);
    }



    .item-tear{
        grid-area:content4;
        justify-items: center;
       
    }

    .display-none{
        display: none;
    }

    .bottom-navigation{
        margin-top: -47px;
        grid-area: footer;
        justify-self: center;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:  3px 3px 3px  3px 15px;
        grid-template-areas: 
      
        " . content11 . "
        " . content12 . "
        " . content13 . "
        " . content15 . "
        " . content14 . " ;
        gap: 2px;
    }
    .mini-line{
        width: 300px;
        border: #ffa500 solid 1px;
        border-width: 1px;
        border-style: solid;
        border-image: 
          linear-gradient(
            to left, 
            rgba(255, 255, 255, 0),
            rgba(227, 226, 226, 0.411),
            #fffffe72, 
            rgba(244, 244, 243, 0.367),
            rgba(19, 168, 66, 0)
          ) 0 0 1 0 ;
        grid-area: content15;
        align-self: start;
        justify-self: center;
    }
.small-line{
    width: 400px;
    border: #ffa500 solid 1px;
    border-width: 1px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to left, 
        rgba(255, 255, 255, 0),
        rgba(227, 226, 226, 0.411),
        #fffffe72, 
        rgba(244, 244, 243, 0.367),
        rgba(19, 168, 66, 0)
      ) 0 0 1 0 ;
    grid-area: content13;
    align-self: start;
    justify-self: center;
}
.medium-line{
    width: 500px;
    border: #ffa500 solid 1px;
    border-width: 1px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to left, 
        rgba(255, 255, 255, 0),
        rgba(227, 226, 226, 0.411),
        #fefeff72, 
        rgba(244, 244, 243, 0.367),
        rgba(19, 168, 66, 0)
      ) 0 0 1 0 ;
    grid-area: content12;
    align-self: start;
    justify-self: center;
}
.long-line{
    width: 600px;
    border: #ffa500 solid 1px;
    border-width: 1px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to left, 
        rgba(255, 255, 255, 0),
        rgba(227, 226, 226, 0.411),
        #fffffe72, 
        rgba(244, 244, 243, 0.367),
        rgba(19, 168, 66, 0)
      ) 0 0 1 0 ;
    grid-area: content11;
    align-self: start;
    justify-self: center;
}




.logo-spin{
 
    opacity: 0.4;
    position: absolute;
    right:470px;
    bottom: 130px;
    border-radius: 50%;
    animation-name: spin;
  animation-duration: 25000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* display pages icons */

.display-none{
    display: none;
}
.display-inline{
    display: inline;
  
}

.both-page-btn{
    display: flex;
   
    align-self: center;
    justify-self: center;
    grid-area: content14;
    margin-top: 40px;
    background-color: rgba(192, 192, 192, 0.25);
    border-radius: 7px;
    
}
.page-btn{
    background-color: rgba(128, 128, 128, 0);
    font-size: large;
    border:rgba(128, 128, 128, 0) solid 1px ;
cursor: pointer;
    color: rgba(255, 255, 255, 0.518);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 15px;
}
.page-btn-active{
    font-size:15px;
    background-color: rgba(128, 128, 128, 0);
    cursor: pointer;
   
    color: rgb(255, 253, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:rgba(128, 128, 128, 0) solid 1px ;
    border-left:rgba(128, 128, 128, 0) solid 1px ;
    border-right:rgba(128, 128, 128, 0) solid 1px ;
    width: 15px;
    transition: ease-in 0.2s ;
    border-bottom:solid 1px #ffa500;
}
.page-btn:hover{
    background-color: rgba(240, 255, 255, 0.405);
    cursor: pointer;
}

.prev-btn{
    cursor: pointer;
}
.next-btn{
    cursor: pointer;
}