@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500&family=IM+Fell+DW+Pica&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500&family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');



.outer-box{
    min-height: 260px;
    height: 260px;
    background-image: url("/src/Items/Images/nw-city.jpg");
    background-position: center;
    background-position-y:52%;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: rgba(246, 246, 246, 0.381) solid 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2.2fr 1fr ;
    grid-template-areas:
      ". nav nav ."
      ". . . main"
      "content1 . . .";
      transition: 0.2s ease-out;

     
      
  
}
.outer-box-mini{
    height: 40px;
    background-image: url("/src/Items/Images/nw-city.jpg");
    background-position: center;
    background-position-y:52%;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: rgba(246, 246, 246, 0.381) solid 2px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40px  ;
    grid-template-areas:
    "content1 nav main";
    transition: 0.2s ease-out;
    position:fixed;
    width: 100%;
    z-index: 1;
    
}

.toggle-navbar-btn{
    justify-self: start;
    align-self: end;
    grid-area: content1;
    height: 20px;
    width: 25px;
    background-color: rgba(240, 248, 255, 0);
    color: orange;
    border-radius: 7px;
    font-size: 13px;
    border: none;
 
}
.toggle-navbar-btn-mini{
    justify-self: start;
    align-self: center;
    grid-area: content1;
    height: 20px;
    width: 25px;
    background-color: rgba(240, 248, 255, 0);
    color: orange;
    border-radius: 7px;
    font-size: 13px;
    border: none;
 
}

.nw-logo{
    align-self: center;
    grid-area: main;
    width: 250px;
    position: relative;
    justify-self: center;
 
}

 

.nw-logo-mini{
    justify-self: center;
    align-self: center;
    grid-area: main;
    width: 110px;
    position: relative;
  
 
}

.navbar{
    grid-area: nav;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.468);
    border-bottom: rgba(255, 255, 255, 0.378) solid 1px;
    display: flex;
    justify-content:center;
    align-items:center;
    position:fixed;
}
.navbar-mini{
    grid-area: content2;
    z-index: 1;
    height: 40px;
    background-color: rgba(153, 11, 11, 0.468);
   
    display: flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    
  
}


.ul-nav{
    grid-area:nav;
    display: flex;
  z-index: 1;
    justify-content:center;
    list-style-type: none;
    font-size: 20px;
    color: #deedfbc7;
    position:fixed;
    right: 35%;
    top:-20px;
  
}

.ul-nav-mini{
    grid-area:nav;
    display: flex;
  z-index: 1;
    justify-content:center;
    list-style-type: none;
    font-size: 20px;
    color: #deedfbc7;
    position:fixed;
    right: 35%;
}
 .nav-li{
    display: flex;
    justify-content:center;
    align-items:center;
   cursor: pointer;
    width: 150px;
    height: 38px;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 16px;
   transition: ease 0.2s;
}
.nav-li:hover{

    color: rgb(240, 248, 255);
font-size: 22px;

}

.database-li{
    display: flex;
    gap: 5px;
}

.database-open{ 
    position: absolute;
    top:390%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 1150px;
    height: 200px;
    background-image: linear-gradient( rgb(56, 55, 55), rgba(88, 80, 80, 0.341) );
    color: black;
    border: solid 1px #dde1e365;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.2fr;
    grid-template-rows: 45px 1.5fr;
    grid-template-areas:
      "content2 content3 content4 content5 content6 content7"
      "sidebar main main main . . ";

      font-family: 'IM Fell DW Pica', serif;
font-size: 13px;
    color:rgb(211, 213, 214);
    text-shadow: 1px 1px #181505;
    z-index: 1;
}

h4{
    justify-self: center;
    align-self: center;
    /* border-bottom: 0.1px rgb(203, 192, 170) solid; */
    border-width: 1px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to left, 
        rgba(231, 170, 4, 0.819),
        rgba(231, 170, 4, 0.572),
       
     
        rgba(231, 170, 4, 0.572)
      )0 0 1 0 ;
height: 22px;
width: 185px;
letter-spacing: 2.5px;
}

.close-btn{
    align-self: start;
    justify-self: end;
    grid-area: content7;
}

.weapons-title{
    grid-area: content2;
}
.tools-title{
    grid-area: content3;
}
.apparel-title{
    grid-area: content4;
}
.resources-title{
    grid-area: content5;
}
.consumables-title{
    grid-area: content6;
}

.weapon-list{
    justify-content:center;
    list-style-type: none;
}

.display-flex{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    gap: 3px;
    color: #a8a7a6;
   
}