@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300;1,400;1,500&display=swap');






.outer-box{
    height: 260px;
    background-image: url("/src/Items/Images/nw-city.jpg");
    background-position: center;
    background-position-y:52%;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: rgba(246, 246, 246, 0.381) solid 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2.2fr 1fr ;
    grid-template-areas:
      ". nav nav ."
      ". . . main"
      "content1 . . .";
      transition: 0.2s ease-out;

     
      
  
}
.outer-box-mini{
    height: 40px;
    background-image: url("/src/Items/Images/nw-city.jpg");
    background-position: center;
    background-position-y:52%;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: rgba(246, 246, 246, 0.381) solid 2px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40px  ;
    grid-template-areas:
    "content1 nav main";
    transition: 0.2s ease-out;
    position:fixed;
    width: 100%;
    
}

.toggle-navbar-btn{
    justify-self: start;
    align-self: end;
    grid-area: content1;
    height: 20px;
    width: 25px;
    background-color: rgba(240, 248, 255, 0);
    color: orange;
    border-radius: 7px;
    font-size: 13px;
    border: none;
 
}
.toggle-navbar-btn-mini{
    justify-self: start;
    align-self: center;
    grid-area: content1;
    height: 20px;
    width: 25px;
    background-color: rgba(240, 248, 255, 0);
    color: orange;
    border-radius: 7px;
    font-size: 13px;
    border: none;
 
}

.nw-logo{
    align-self: center;
    grid-area: main;
    width: 250px;
    position: relative;
  
 
}

 

.nw-logo-mini{
    justify-self: center;
    align-self: center;
    grid-area: main;
    width: 110px;
    position: relative;
  
 
}

.navbar{
    grid-area: nav;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.468);
    border-bottom: rgba(255, 255, 255, 0.378) solid 1px;
    display: flex;
    justify-content:center;
    align-items:center;
    position:fixed;
}
.navbar-mini{
    grid-area: content2;

    height: 40px;
    background-color: rgba(153, 11, 11, 0.468);
   
    display: flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    
  
}


.ul-nav{
    grid-area:nav;
    display: flex;
  z-index: 1;
    justify-content:center;
    list-style-type: none;
    font-size: 20px;
    color: #deedfbc7;
    position:fixed;
    right: 35%;
}

.ul-nav-mini{
    grid-area:nav;
    display: flex;
  z-index: 1;
    justify-content:center;
    list-style-type: none;
    font-size: 20px;
    color: #deedfbc7;
    position:fixed;
    right: 35%;
}
li{
    display: flex;
    justify-content:center;
    align-items:center;
   cursor: pointer;
    width: 150px;
    height: 38px;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 16px;
}
li:hover{
 
    color: rgb(240, 248, 255);
    transform: scale(1.1);
    transition: ease-in 0.2s;
}

.database-li{
    display: flex;
    gap: 5px;
}

.database-open{
    position: absolute;
  top:45px;
   right: -50px;
    width: 700px;
    height: 200px;
    background-color: aqua;
}

