
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

.App {
  background-image: url("/src/Items/Images/texture-bottom.jpg");
  background-size: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 120px;
  height: 950px;
}


